ul.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000cc;
    overflow: auto;
}

ul.bar li a {
    display: block;
    color: white;
    float: left;
	text-align: center;
    padding: 15px;
    text-decoration: none;
}

ul.bar li a:hover {
    background-color: black;
    color: white;
}

ul.bar li a:hover:not(.active) {
    background-color: black;
    color: white;
}


#map {
	height:75%;
	width:60%;
	float: right;
}

#dataTable {
	height: 75%;
	width: 40%;
	float: left;
}

#pac-input{
    height: 34px;
    width: 500px;
}
h1{
	text-align: center;
	font-weight: bold;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #42c8f4;
}

table {
	height: 80%;
	overflow: auto;
}

table, th, td {
   border: 1px solid black;
}

#floating-panel {
	display: none;
}
#legend {
	font-family: Arial, sans-serif;
	background: #fff;
	padding: 10px;
	margin: 10px;
	border: 3px solid #000;
}
#about{
	font-style: Arial, sans-serif;
}

#alert {
    padding: 20px;
    background-color: rgb(255, 126, 0);
    color: white;
}

#alert2 {
    padding: 20px;
    background-color: rgb(255, 0, 0);
    color: white;
}

#warning {
    padding: 20px;
    background-color: rgb(143, 63, 151);
    color: white;
}

#danger {
    padding: 20px;
    background-color: rgb(126, 0, 35);
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}